<body>
    <h1><span id="mainaddress">A Föld bolygó macskái:</span> <span id="mainaddress2">Kis- és Nagymacskák</span></h1>
    <nav>
        <ul>
            <li><a routerLink="/domestic-cat" routerLinkActive="active">A házimacska</a></li>
            <li><a routerLink="/wildcat" routerLinkActive="active">A vadmacska</a></li>
            <li><a routerLink="/bob-cat" routerLinkActive="active">A hiúz</a></li>
            <li><a routerLink="/lion" routerLinkActive="active">Az oroszlán</a></li>
            <li><a routerLink="/leopard" routerLinkActive="active">A leopárd</a></li>
            <li><a routerLink="/panther" routerLinkActive="active">A párduc</a></li>
            <li><a routerLink="/gepard" routerLinkActive="active">A gepárd</a></li>
            <li><a routerLink="/puma" routerLinkActive="active">A puma</a></li>


        </ul>

    </nav><br>


    <router-outlet></router-outlet>
    <main>
        <app-domestic-cat></app-domestic-cat>
        <app-wildcat></app-wildcat>
        <app-bob-cat>
        </app-bob-cat>
        <app-lion></app-lion>
        <app-leopard></app-leopard>
        <app-panther></app-panther>
        <app-gepard></app-gepard>
        <app-puma></app-puma>
    </main>
</body>